@page "/"
@using Ganttfeatures.Data;
@using Syncfusion.Blazor.TreeGrid;


<div class="e-gridcontainer" style="height:100vh; width:100vw">
    <div class="e-gridcolumn">
        <b>Gantt Demo</b>

        <SfTreeGrid Height="600px" Width="100%" DataSource="@GanttData" IdMapping="ID" ParentIdMapping="PID" TreeColumnIndex="0" AllowFiltering="true" TValue="TaskData">
            <TreeGridColumns>
                <TreeGridColumn Field="Name" HeaderText="Name" ></TreeGridColumn>
                <TreeGridColumn Field="Url" HeaderText="Link" Width="100" AllowFiltering="false">
                    <Template>
                        @{
                            var data = context as TaskData;
                            @if (!string.IsNullOrEmpty(data.Url))
                            {
                                <a target="_blank" href="/@data.Url">Link</a>
                            }
                        }
                    </Template>
                </TreeGridColumn>
            </TreeGridColumns>
            <TreeGridFilterSettings HierarchyMode="@FilterHierarchyMode.Parent" Type="Syncfusion.Blazor.TreeGrid.FilterType.Menu"></TreeGridFilterSettings>
        </SfTreeGrid>
    </div>

    <div class="e-gridcolumn">
        <b> Grid & Treegrid Demo </b>
        <SfTreeGrid Height="600px" Width="100%" DataSource="@TreeGridData" IdMapping="ID" ParentIdMapping="PID" TreeColumnIndex="0" AllowFiltering="true" TValue="TaskData">
            <TreeGridColumns>
                <TreeGridColumn Field="Name" HeaderText="Name"></TreeGridColumn>
                <TreeGridColumn Field="Url" HeaderText="Link" Width="100" AllowFiltering="false">
                    <Template>
                        @{
                            var data = context as TaskData;
                            @if (!string.IsNullOrEmpty(data.Url))
                            {
                                <a target="_blank" href="/@data.Url">Link</a>
                            }
                        }
                    </Template>
                </TreeGridColumn>
            </TreeGridColumns>
            <TreeGridFilterSettings HierarchyMode="@FilterHierarchyMode.Parent" Type="Syncfusion.Blazor.TreeGrid.FilterType.Menu"></TreeGridFilterSettings>
        </SfTreeGrid>
    </div>


    <div class="e-gridcolumn">
        <b>BST </b>
        <SfTreeGrid Height="600px" Width="100%" DataSource="@BSTData" IdMapping="ID" ParentIdMapping="PID" TreeColumnIndex="0" AllowFiltering="true" TValue="TaskData">
            <TreeGridColumns>
                <TreeGridColumn Field="Name" HeaderText="Name"></TreeGridColumn>
                <TreeGridColumn Field="Url" HeaderText="Link" Width="100" AllowFiltering="false">
                    <Template>
                        @{
                            var data = context as TaskData;
                            @if (!string.IsNullOrEmpty(data.Url))
                            {
                                <a target="_blank" href="/@data.Url">Link</a>
                            }
                        }
                    </Template>
                </TreeGridColumn>
            </TreeGridColumns>
            <TreeGridFilterSettings HierarchyMode="@FilterHierarchyMode.Parent" Type="Syncfusion.Blazor.TreeGrid.FilterType.Menu"></TreeGridFilterSettings>
        </SfTreeGrid>
    </div>
</div>
@code {

    public List<TaskData> GanttData = new List<TaskData>();
    public List<TaskData> TreeGridData = new List<TaskData>();
    public List<TaskData> BSTData = new List<TaskData>();

    protected override void OnInitialized()
    {
        this.GanttData = DataModel.GetGanttData().ToList();
        this.TreeGridData = DataModel.GetTreeGridData().ToList();
        this.BSTData = DataModel.GetBSTData().ToList();

    }
}

